@model EmailViewModel;
@{
    ViewData["Title"] = "Email Page";
}

@{
  if (((int)TempData.Peek("CheckAnswers")) == 0)
  {
    <a asp-controller="Home" asp-action="FullName" class="govuk-back-link">Back</a>
  }
}
<form method="post">
  <div class="govuk-form-group">
    <label class="govuk-label" for="email">
      Email address
    </label>
    <span id="email-hint" class="govuk-hint">
      We’ll only use this to send you a receipt
    </span>
    @{
      if (TempData.Peek("Email") != null)
      {
        <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" value='@TempData.Peek("Email")' spellcheck="false">
      }else
      {
        <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
      }
    }
    <div>&nbsp;</div>
    <button class="govuk-button" data-module="govuk-button" asp-action="Email" asp-controller="Home">
    Continue
   </button>
  </div>
</form>